<% provide :title, t("sessions.new.base_title") %>
<div class="form-login">
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label t "sessions.email" %>
    <%= f.email_field :email, class: "form-control" %>
    <%= f.label t "sessions.password" %>
    <%= f.password_field :password, class: "form-control" %>

    <%= f.submit t("sessions.new.base_title"), class: "btn btn-primary btn-login" %>
  <% end %>
</div>
