<% provide :title, params[:key] ||= t("search") %>
<div class="form-login">
  <%= form_tag "/search", method: :get do %>
    <%= text_field_tag :name, params[:name], class: "form-control input-search", placeholder: t("searchs.input_name") %>
    <%= text_field_tag :price, params[:price], class: "form-control input-search", placeholder: t("searchs.input_price") %>

    <%= submit_tag t("searchs.search"), class: "btn btn-primary btn-login" %>
  <% end %>
</div>
<section class="row nasir-room-grid">
  <div class="container">
    <div class="row">
      <% if @rooms.present? %>
        <%= render @rooms %>
      <% else %>
        <h1><%= t "searchs.room_not_found" %></h1>
      <% end %>
    </div>
    <%= paginate @rooms, theme: "twitter-bootstrap-3" %>
  </div>
</section>
