<% provide :title, params[:key] ||= t("search") %>
<%= render "form_search" %>
<section class="row nasir-room-grid">
  <div class="total-record">
    <%= t "admins.rooms.find" %>
    <span class="number"><%= @rooms.total_count %></span>
  </div>
  <div class="container">
    <div class="row">
      <% if @rooms.present? %>
        <%= render @rooms %>
      <% else %>
        <h1><%= t "searchs.room_not_found" %></h1>
      <% end %>
    </div>
    <%= paginate @rooms, theme: "twitter-bootstrap-3" %>
  </div>
</section>
