<%= form_for [:admins, @room], html: { multipart: true } do |f| %>
  <%= f.label t("admins.rooms.name"), class: "input-presence" %>
  <%= f.text_field :name, class: "form-control" %>
  <%= display_error f.object, :name, t("admins.rooms.name") %>
  <%= f.label t("admins.rooms.slug"), class: "input-presence" %>
  <%= f.text_field :slug, class: "form-control" %>
  <%= display_error f.object, :slug, t("admins.rooms.slug") %>
  <%= f.label t("admins.rooms.cate"), class: "input-presence" %>
  <%= f.select("category_id", Category.pluck(:name, :id),
      {prompt: t("searchs.select_type_room")},
      class: "form-control") %>
  <%= display_error f.object, :category, t("admins.rooms.cate") %>
  <%= f.label t("admins.rooms.price"), class: "input-presence" %>
  <%= f.number_field :price, min: Settings.rooms.min_num, class: "form-control" %>
  <%= display_error f.object, :price, t("admins.rooms.price") %>
  <%= f.label t("admins.rooms.max_person"), class: "input-presence" %>
  <%= f.number_field :max_person, min: Settings.rooms.min_num, class: "form-control" %>
  <%= display_error f.object, :max_person, t("admins.rooms.max_person") %>
  <%= f.label t("admins.rooms.des"), class: "input-presence" %>
  <%= f.text_area :description, class: "form-control" %>
  <%= display_error f.object, :description, t("admins.rooms.des") %>
  <%= f.label t("admins.rooms.map"), class: "input-presence" %>
  <%= f.text_field :map, class: "form-control" %>
  <%= display_error f.object, :map, t("admins.rooms.map") %>
  <%= f.label t("admins.rooms.image"), class: "input-presence" %>
  <%= f.file_field :pictures, class: "form-control", id: "imgInp" %>
  <div class="room-picture">
    <%= image_tag (@room.pictures_url if @room.pictures_url), id: "blah" %>
  </div>
  <%= display_error f.object, :pictures, t("admins.rooms.image") %>
  <%= f.label t("admins.rooms.image_detail") %>
  <%= f.file_field :image, multiple: true, name: "room[room_pictures_attributes][][image]",
      class: "form-control", id: "imgMulInp" %>
  <div class="room-picture room-mul-pic">
    <div class="box-img-deleted"></div>
    <% @room.room_pictures.each do |p| %>
      <div class="box-img">
        <%= image_tag p.image_url || "", class: "img-room-detail" %>
        <span class="btn-delete-img" data-id="<%= p.id %>">x<span>
      </div>
    <% end %>
  </div>
  <%= f.label t("admins.rooms.address"), class: "input-presence" %>
  <%= f.text_area :address, class: "form-control" %>
  <%= display_error f.object, :address, t("admins.rooms.address") %>
  <%= f.submit t("admins.rooms.submit"), class: "btn btn-primary" %>
<% end %>
