<% provide :title, t("admins.rooms.base_title")%>
<div class="content-wrapper">
  <div class="form-search-admin">
    <%= render "form_search" %>
  </div>
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12 title-head">
          <h1 class="m-0"><%= t "admins.rooms.base_title" %></h1>
          <%= link_to t("admins.rooms.add"), new_admins_room_path,
            class: "btn btn-warning float-right" %>
        </div>
      </div>
    </div>
  </div>
  <div class="total-record">
    <%= t "admins.rooms.find" %>
    <span class="number"><%= @total_record.size %></span>
  </div>
  <section class="content">
    <div class="container-fluid">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <div class="box-sort">
                <%= t "admins.rooms.id" %>
                <div class="btn-sort">
                  <%= link_to admins_rooms_path(order_key: :id, order_type: :asc),
                    class: "btn-asc" do %>
                    <%= image_tag Settings.image.up %>
                  <% end %>
                  <%= link_to admins_rooms_path(order_key: :id, order_type: :desc),
                    class: "btn-asc" do %>
                    <%= image_tag Settings.image.down %>
                  <% end %>
                </div>
              </div>
            </th>
            <th scope="col">
              <div class="box-sort">
                <%= t "admins.rooms.name" %>
                <div class="btn-sort">
                  <%= link_to admins_rooms_path(order_key: :name, order_type: :asc),
                    class: "btn-asc" do %>
                    <%= image_tag Settings.image.up %>
                  <% end %>
                  <%= link_to admins_rooms_path(order_key: :name, order_type: :desc),
                    class: "btn-asc" do %>
                    <%= image_tag Settings.image.down %>
                  <% end %>
                </div>
              </div>
            </th>
            <th scope="col">
              <div class="box-sort">
                <%= t "admins.rooms.cate" %>
                <div class="btn-sort">
                  <%= link_to admins_rooms_path(order_key: :category_id, order_type: :asc),
                    class: "btn-asc" do %>
                    <%= image_tag Settings.image.up %>
                  <% end %>
                  <%= link_to admins_rooms_path(order_key: :category_id, order_type: :desc),
                    class: "btn-asc" do %>
                    <%= image_tag Settings.image.down %>
                  <% end %>
                </div>
              </div>
            </th>
            <th scope="col">
              <div class="box-sort">
                <%= t "admins.rooms.price" %>
                <div class="btn-sort">
                  <%= link_to admins_rooms_path(order_key: :price, order_type: :asc),
                    class: "btn-asc" do %>
                    <%= image_tag Settings.image.up %>
                  <% end %>
                  <%= link_to admins_rooms_path(order_key: :price, order_type: :desc),
                    class: "btn-asc" do %>
                    <%= image_tag Settings.image.down %>
                  <% end %>
                </div>
              </div>
            </th>
            <th scope="col"><%= t "admins.rooms.image" %></th>
            <th scope="col"><%= t "admins.rooms.action" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @rooms %>
        </tbody>
      </table>
    </div>
  </section>
  <%= paginate @rooms, theme: "twitter-bootstrap-3" %>
</div>
