<% provide :title, t("admins.rooms.base_title")%>

<div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12 title-head">
            <h1 class="m-0"><%= t "admins.rooms.base_title" %></h1>
            <%= link_to t("admins.rooms.add"), new_admins_room_path, class: "btn btn-warning float-right" %>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"><%= t "admins.rooms.id" %></th>
              <th scope="col"><%= t "admins.rooms.name" %></th>
              <th scope="col"><%= t "admins.rooms.cate" %></th>
              <th scope="col"><%= t "admins.rooms.price" %></th>
              <th scope="col"><%= t "admins.rooms.image" %></th>
              <th scope="col"><%= t "admins.rooms.action" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render @rooms %>
          </tbody>
        </table>
      </div>
    </section>
    <%= paginate @rooms, theme: "twitter-bootstrap-3" %>
  </div>
