<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <%= link_to admins_root_path, class: "brand-link" do %>
    <span class="brand-text font-weight-light"><%= t "admins.title" %></span>
  <% end %>
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <%= t "admins.hello" %><%= link_to current_user.name, "#" %>
      </div>
    </div>
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item menu-open">
            <%= link_to admins_root_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                <%= t "admins.dashboard" %>
                <i class="right fas fa-angle-left"></i>
              </p>
            <% end %>
          </li>
           <li class="nav-item menu-open">
            <%= link_to admins_rooms_path, class: "nav-link" do %>
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                <%= t "admins.rooms.base_title" %>
                <i class="right fas fa-angle-left"></i>
              </p>
            <% end %>
          </li>
        </ul>
      </nav>
  </div>
</aside>
