<tr>
  <td><%= order_counter %></td>
  <td><%= order.room_name %></td>
  <td><%= order.room_address %></td>
  <td><%= order.date_start.strftime(Settings.format_date) %></td>
  <td><%= order.date_end.strftime(Settings.format_date) %></td>
  <td><%= order.room_price %>$</td>
  <td><%= order.price %>$</td>
  <td>
    <p class="ptag-status" style="background: <%= order.status_color %>;">
      <%= order.status_name %>
    </p>
  <td>
  <td>
    <%= link_to t(".edit"), edit_user_order_path(current_user, order) %>
    <%= link_to t(".delete"), user_order_path(current_user, order), method: :delete %>
  </td>
</tr>
