<tr data-link="<%= user_order_url(current_user, order) %>"
  id="tr-order-<%= order.id %>"
  class="text-info tr-order">
  <td class="text-info"><%= order_counter %></td>
  <td class="text-info"><%= order.room_name %></td>
  <td class="text-info"><%= order.room_address %></td>
  <td class="text-info"><%= order.date_start.strftime Settings.format_date %></td>
  <td class="text-info"><%= order.date_end.strftime Settings.format_date %></td>
  <td class="text-info"><%= order.room_price %></td>
  <td class="text-info"><%= order.price %></td>
  <td class="text-white">
    <p class="ptag-status bg-<%= order.status_was %>" id="p-status-<%= order.id %>">
      <%= order.status_was %>
    </p>
  <td>
  <td>
    <%= link_to t(".edit"), edit_user_order_path(current_user, order) %>
    <% if order.pendding_status? || order.approved_status? && order.not_expire_to_destroy? %>
      |
      <%= link_to t(".cancel"),
        user_order_path(current_user, order),
        method: :delete,
        data: {confirm: t(".are_you_sure")},
        remote: true,
        id: "btn-cancel-order-#{order.id}" %>
    <% end %>
  </td>
</tr>
