<%= t "hi" %> <%= @user.name %>,
<%= t ".title_mail_create_order" %>
<%= t ".information_order" %>
<p><%= t ".room_name" %>: <%= @order.name %></p>
<p><%= t ".room_address" %>: <%= @order.address %></p>
<p><%= t ".date_start" %>: <%= @order.date_start %></p>
<p><%= t ".date_end" %>: <%= @order.date_end %></p>
<p><%= t ".total_pay" %>: <%= @order.price %></p>
