<%= t "hi" %> <%= @user.name %>,
<%= t ".title_mail_create_order" %>
<%= t ".information_order" %>
<p><%= t ".room_name" %>: <%= @order.room_name %></p>
<p><%= t ".room_address" %>: <%= @order.room_address %></p>
<p><%= t ".date_start" %>: <%= @order.date_start.strftime(Settings.format_date) %></p>
<p><%= t ".date_end" %>: <%= @order.date_end.strftime(Settings.format_date) %></p>
<p><%= t ".unit_price" %>: <%= @order.room_price %></p>
<p><%= t ".total_pay" %>: <%= @order.price %></p>
