<% provide :title, @room.name %>
<section class="row final-inner-header">
  <div class="container">
    <h2 class="this-title"><%= t "rooms.show.base_title" %></h2>
  </div>
</section>
<section class="row final-breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li>
        <%= link_to t("home"), "#" %>
      </li>
      <li class="active"><%= t "rooms.show.base_title" %></li>
    </ol>
  </div>
</section>
<section class="container clearfix common-pad-inner">
<div class="row">
  <div class="col-md-4 col-md-push-8">
    <div class="single-sidebar-widget sroom-sidebar">
      <!-- Booking Form style-->
      <div class="book-r-form">
        <div class="room-price">
          <h6><%= t "rooms.start_from" %></h6>
          <p>$<%= @room.price %><span>/ <%= t "rooms.per_night" %></span></p>
        </div>
        <div class="book-form">
          <%= form_with url: check_room_path do %>
            <div class="col-md-12"><b><%= t "rooms.start" %></b>
              <%= date_field_tag :date_start, nil, class: "form-control datepicker-example8" %>
            </div>
            <div class="col-md-12"><b><%= t "rooms.end" %></b>
              <%= date_field_tag :date_end, nil, class: "form-control datepicker-example8" %>
            </div>
            <div class="col-md-12"><b><%= t "rooms.person" %></b>
              <div class="select-box choose-person">
                <button type="button" id="btn-sub-person" class="btn-edit-person">-</button>
                <span id="quantity-person" class="quantity-person">0</span>
                <%= hidden_field_tag :quantity_person, "0", id: "hidden_quantity_person" %>
                <%= hidden_field_tag :maxperson, @room.max_person, id: "maxperson" %>
                <%= hidden_field_tag :room_id, @room.id %>
                <button type="button" id="btn-add-person" class="btn-edit-person">+</button>
              </div>
            </div>
            <div class="col-md-12">
              <div class="chk-button">
                <%= submit_tag t("rooms.check"), class: "res-btn" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="status-room" id="status-room">
        <div class="div-status-room">
          <%= t "status" %>: <span id="result-check-room"></span>
        </div>
        <%= form_tag "#", method: :get do %>
          <div class="room-overview">
            <%= hidden_field_tag :date_start, nil, id: "book_room_date_start" %>
            <%= hidden_field_tag :date_end, nil, id: "book_room_date_end" %>
            <%= hidden_field_tag :quantity_person, nil, id: "book_room_quantity_person" %>
            <%= submit_tag t("rooms.book_now"), class: "res-btn", id: "btn-bookroom" %>
          </div>
        <% end %>
      </div>
       <div class="single-sidebar-widget-outer">
        <div class="sec-title">
          <h2><%= t "rooms.related" %></h2>
        </div>
        <div class="popular-post">
          <ul>
            <%= render partial: "relate_rooms/relate_room", collection: @relate_rooms %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-md-pull-4">
    <div class="single-room-wrapper">
      <!-- Rooms Slider style-->
      <div class="room-slider-wrapper">
        <div class="single-r-wrapper">
          <div class="single-sl-room">
            <div data-hash="zero" class="owl-itemm">
              <%= image_tag @room.image %>
            </div>
          </div>
        </div>
      <div class="room-dec-wrapper description">
        <h2><%= t "rooms.description" %></h2>
        <p>
          <%= @room.description %>
        </p>
      </div>
      <div class="room-fac-wrapper">
        <% if @room.supplies.size > 0 %>
          <h2><%= t "rooms.facilities" %></h2>
          <div class="row">
            <div class="ro-facilitie">
              <ul class="clearfix">
                <%= render @room.supplies %>
              </ul>
            </div>
          </div>
          <% end %>
      </div>
      <div class="div-iframe-detail-room">
        <iframe class="iframe-detail-room" src="<%= @room.map %>" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
</section>
