<%= form_tag admins_orders_path, method: :get,class: "form-search-admin" do %>
  <div class="d-flex">
    <%= search_field_tag :order_id,
      params[:order_id],
      class: "form-control",
      placeholder: t(".order_id") %>
    <%= search_field_tag :room_id,
      params[:room_id],
      class: "form-control",
      placeholder: t(".room_id") %>
    <%= select_tag :status,
      options_for_select(Order::statuses.reverse_merge({"---": nil}), params[:status]),
      {class: "form-control"} %>
  </div>
  <div class="d-flex">
    <div class="col-md-6">
      <span><%= t ".date_start" %></span>
      <%= date_field_tag :date_start, params[:date_start], class: "form-control" %>
    </div>
    <div class="col-md-6">
      <span><%= t ".date_end" %></span>
      <%= date_field_tag :date_end, params[:date_end], class: "form-control" %>
    </div>
  </div>
  <%= submit_tag t(".search"), class: "btn btn-success form-control" %>
<% end %>
