<tr>
  <th scope="row"><%= order.id %></th>
  <td><%= order.user_name %></td>
  <td><%= order.room_name %></td>
  <td><%= number_to_currency(order.price, unit: Settings.money.dola) %></td>
  <td class="status-order-<%= order.status_was %>"><%= order.status_was %></td>
  <td>
    <%= link_to edit_admins_order_path(order), class: "btn btn-success" do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %>
    <%= link_to admins_order_path(order), method: :delete,
        data: {confirm: t("admins.you_sure")},
        class: "btn btn-danger", id: "btn-del-#{order.id}", remote: true do %>
      <i class="fas fa-trash" aria-hidden="true"></i>
    <% end %>
  </td>
</tr>
