<% provide :title, t("admins.orders.base_title")%>
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12 title-head">
          <h1 class="m-0"><%= t "admins.orders.base_title" %></h1>
          <%= link_to t("admins.orders.add"), new_admins_room_path,
            class: "btn btn-warning float-right" %>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              <div class="box-sort">
                <%= t "admins.orders.id" %>
              </div>
            </th>
            <th scope="col">
              <div class="box-sort">
                <%= t "admins.orders.user_id" %>
              </div>
            </th>
            <th scope="col">
              <div class="box-sort">
                <%= t "admins.orders.room_id" %>
              </div>
            </th>
            <th scope="col">
              <div class="box-sort">
                <%= t "admins.orders.price" %>
              </div>
            </th>
            <th scope="col">
              <div class="box-sort">
                <%= t "admins.orders.status" %>
              </div>
            </th>
            <th scope="col"><%= t "admins.orders.action" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @orders %>
        </tbody>
      </table>
    </div>
  </section>
  <%= paginate @orders, theme: "twitter-bootstrap-3" %>
</div>
