<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "admins/admins", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "admins/admins", "data-turbolinks-track": "reload" %>
  </head>
  <body class="sb-nav-fixed">
    <%= render "layouts/admins/layouts/navbar" %>
    <div id="layoutSidenav">
      <%= render "layouts/admins/layouts/sidenav" %>
      <div id="layoutSidenav_content">
        <%= yield %>
        <%= render "layouts/admins/layouts/footer" %>
      </div>
    </div>
  </body>
</html>
